<h1>Listing shorteners</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Hash</th>
    <th>Password hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shorteners.each do |shortener| %>
  <tr>
    <td><%= shortener.url %></td>
    <td><%= shortener.url_hash %></td>
    <td><%= link_to 'Show', shortener %></td>
    <td><%= link_to("Delete",delete_shortener_path(shortener)) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shortener', new_shortener_path %>
