<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @shortener.url %>
</p>

<p>
  <b>Hash:</b>
  <%= @shortener.url_hash %>
</p>

<%= link_to 'delete', edit_shortener_path(@shortener) %> |
<%= link_to 'Back', shorteners_path %>
